/* Main Styles */

* {
    box-sizing: border-box;
}

/* Header */
.side-header {
    border-right: 2px dashed #eee;
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 100%;
}

.side-header h1 {
    word-wrap: break-word;
    text-align: end;
    font-size: 3em;
}

.side-header .links a{
    display: block;
}

.img-container {
    margin-top: 60px;
    margin-left: -100%;
}

.img-container img {
    max-height: 600px;
    max-width: 80%;
    border: 5px solid #26a69a;
    left: 0;
    image-rendering: smooth;
    border-radius: 8px;
}

/* Output */
.output {
    margin-top: 50vh;
}

.output .card-panel {
    margin-right: 100px;
}

.secondary-content {
    margin: 10px;
}

/* Button */
#btn-small {
    position: fixed;
    bottom: 10px;
    right: 50px;
    display: none;
    cursor: pointer;
}

/* Config Menu */
aside {
    position: fixed;
    right: 0;
    margin: 10px;
    z-index: 99;
}

aside .btn-floating {
    float: right;
}

aside .config-menu {
    display: none;
    clear: both;
    background: rgba(38, 166, 154, .3);
    padding: 50px;
    margin-top: 10px;
    margin-right: 30px;
    border-radius: 8px;
}

aside .config-menu .switch {
    margin-bottom: 20px;
}

aside .config-menu .switch .switch-title {
    display: block;
}

aside .config-menu .switch .lever {
    margin-top: -5px;
}