* {
    box-sizing: border-box;
}

.btn-small {
    position: fixed;
    bottom: 10px;
    right: 50px;
    display: none;
    cursor: pointer;
}

header {
    border-right: 2px dashed #eee;
    position: fixed;
    width: 240px;
    height: 100%;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: right;
    top: 0px;
}

header h1 {
    word-wrap: break-word;
    text-align: end;
    font-size: 3em;
}

header img {
    max-width: 100%;
    height: auto;
    border: 5px solid black;
    background: black;
    position: absolute;
    left: 0;
    image-rendering: smooth;
    border-radius: 8px;
}

.output {
    margin-top: 500px;
}

/* .container {
    width: 50%;
} */